<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=" utf-8“>
    <title>图书信息录入</title>
</head>

<body>
<form action="/insertbook/" method="post">{% csrf_token %}
    <a href="/shows">查询信息</a>
    <br/> <br/>
    <table width="400" border="0">
        <tr>
            <td style="text-align: right;width:120px;">ISBN</td>
            <td style="text-align: left;width:280px;">
                <input name="txtISBN" type="text" required id="txtISBN">
            </td>
            <td style="text-align: right;width:100px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: right;width:120px;">书名</td>
            <td style="text-align: left;width:280px;">
                <input name="txtBookTitle" type="text" required id="txtBookTitle">
            </td>
            <td style="text-align: right;width:100px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: right;width:120px;">作者</td>
            <td style="text-align: left;width:280px;">
                <input name="txtBookAuthor" type="text" id="txtBookAuthor">
            </td>
            <td style="text-align: right;width:100px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: right;width:120px;">类型</td>
            <td style="text-align: left;width:280px;">
                <select name=txtBookType>
                    <option value="小说">小说</option>
                    <option value="历史">历史</option>
                    <option value="人物传记">人物传记</option>
                    <option value="计算机">计算机</option>
                </select>

            </td>
            <td style="text-align: right;width:100px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: right;width:120px;">出版时间</td>
            <td style="text-align: left;width:280px;">
                <input name="txtBookDate" type="date" class="measureDate" placeholder="请选择日期" id="txtBookDate">
            </td>
            <td style="text-align: right;width:100px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: right;width:120px;">数量</td>
            <td style="text-align: left;width:280px;">
                <input name="txtBookNum" type="text" id="txtBookNum">
            </td>
            <td style="text-align: right;width:100px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center;width:400px;" colspan="3">
                <input type="submit" name="btnInput" id="btnInput" value="录入" style="width:80px;"/>
            </td>

        </tr>
        <tr>
            <td style="text-align: right;width:500px;">
                <font color="#FF0000">  {{ warn }} </font>
            </td>
        </tr>
    </table>

</form>
</body>
</html>
