<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <!--  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>学生登录</title>
</head>


<body style="background-image: url({{ background }})">
<!--partial:index.partial.html -->
<form action="" method="POST">{% csrf_token %}
<div class="form" id="loginform">
    <h1> Login </h1>

        <p class="user">
            <label for="user">登录 <span>*</span>
            </label>
            <input class="input" ref="myInput" name="txtStudentNumber" type="text" required id="txtStudentNumber" value={{ ID }} >


            <span class="validation req"> 这是必填栏</span>
        </p>
        <p class="password">
            <label for="password">密码 <span>*</span></label>
            <input class="input" required id="txtPassword" type="password" name="txtPassword" value={{ password }}>

            <span class="validation req"> 这是必填栏</span>
        </p>
        <p class="remember">
            <input class="checkbox" type="checkbox" id="remember" value="666" name="remember">
            <label for="remember"> 记住我</label>

        </p>

        {% if user %}
            <font color="#FF0000">  {{ warn }} </font>
        {% endif %}

        <p class="login">
            <input type="submit" value="登录" id="btnLogin" name="btnLogin">
        </p>

</div>   </form>
<!-- partial -->
<script src="static/js/script.js"></script>


<ul>
    {% for student in students %}
        <li>
            id:{{ student.id }},姓名：{{ student.name }},age: {{ student.age }}
        </li>
    {% endfor %}
</ul>

</body>
</html>
